@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #35654d;
  --color-text-main: #000000;
  --font-family: "Space Mono", monospace;
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

.card {
  cursor: move;
  user-select: none;

  position: absolute;
  width: 2.5in;
  height: 3.5in;
  background-color: white;
  border-radius: 3.5mm;
  padding: 0.2in;
  font-size: 10px;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.2),
    0 10px 20px -10px hsla(0, 0%, 0%, 0.8);

  h1,
  h2,
  p,
  dl {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  h1 {
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed currentColor;

    & > a {
      color: inherit;
    }
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
  }

  p {
    text-align: center;
  }

  dl {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  dt {
    font-weight: bold;
    white-space: nowrap;
  }

  dd {
    margin-left: 0;
    text-align: right;
  }
}

.align-left p {
  text-align: left;
}
