:root {
  --spacing: 1rem;

  /* Colour palette based on https://lospec.com/palette-list/lost-century */

  --colour-background: #4d4539;
  --colour-panel: #d2c9a5;
  --colour-on-panel: #4b3d44;
  --colour-action: #ae5d40;
  --colour-on-action: #d2c9a5;
}

* {
  box-sizing: border-box;
}

/**
 * MARK: FRAME
 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--colour-background);
  font-family: monospace;
  font-size: 1rem;
  user-select: none;
}

[hidden] {
  display: none !important;
}

.c-scene {
  height: 100vh;
}

.c-scene {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * MARK: MENU
 */
.c-menu {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--spacing) * 2) auto;
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: var(--colour-panel);
  color: var(--colour-on-panel);
}

.c-menu__title {
  margin-top: 0;
  margin-bottom: var(--spacing);
  color: #77743b;
}

.c-menu__spacer {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 3px solid #b3a555;
  border-bottom: 3px solid #8caba1;
}

.c-menu__custom {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.c-input {
  padding: calc(var(--spacing) / 2);
  font-size: 1rem;
  font-family: inherit;
}

.c-input--right {
  text-align: right;
}

/**
 * MARK: SLIDER
 */
.c-slider {
  position: relative;
  width: 100%;
  flex: 1;
  background-color: #ab9b8e;
  overflow: hidden;
}

.c-slider--revealed {
  pointer-events: none;
}

.c-slider__goal {
  position: absolute;
  width: 20%;
  height: 100%;
  margin-left: -10%;
  background-image: linear-gradient(
    to right,
    #ae5d40 0%,
    #ae5d40 20%,
    #ba9158 20%,
    #ba9158 40%,
    #8caba1 40%,
    #8caba1 60%,
    #ba9158 60%,
    #ba9158 80%,
    #ae5d40 80%,
    #ae5d40 100%
  );
}

.c-slider__thumb {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--colour-on-panel);
  margin-left: -3px;
  cursor: ew-resize;
}

.c-score__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: var(--colour-on-panel);
  text-shadow: 2px 2px 4px var(--colour-background);
  text-align: center;
}

/**
 * MARK: UI
 */
.c-ui {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  background-color: var(--colour-panel);
  color: var(--colour-on-panel);
}

/**
 * MARK: BUTTON
 */
.c-button {
  padding: calc(var(--spacing) / 2) var(--spacing);
  background-color: var(--colour-action);
  color: var(--colour-on-action);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

.c-button:hover {
  filter: brightness(1.1);
}
